<form #userForm="ngForm">
    <div class="form-group mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address<b [class.text-danger]="userForm.controls['email']?.errors?.['required'] && userForm.controls['email']?.touched">*</b></label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" ngModel required>
      <small *ngIf="userForm.controls['email']?.errors?.['required'] && userForm.controls['email']?.touched" class="text-danger">
        Email is a required field
    </small>
    <small *ngIf="userForm.controls['email']?.errors?.['pattern'] && userForm.controls['email']?.touched" class="text-danger">
      Please enter a valid email
  </small>
    </div>
  
    <div class="form-group mb-3">
        <label for="exampleInputAge" class="form-label">Age<b [class.text-danger]="userForm.controls['age']?.errors?.['required'] && userForm.controls['age']?.touched">*</b></label>
        <input type="number" class="form-control" id="exampleInputAge" min="16" required name="age" ngModel>
        <small *ngIf="userForm.controls['age']?.errors?.['min'] && userForm.controls['age']?.touched" class="text-danger">
          Age must be at least 16
      </small>
      <small *ngIf="userForm.controls['age']?.errors?.['required'] && userForm.controls['age']?.touched" class="text-danger">
        Age is a required field
    </small>
      </div>

      <div class="form-group mb-3">
        <label for="exampleInputCardNumber" class="form-label">Card Number</label>
        <input [(ngModel)]="formData.cardNum" (input)="formatedInput(userForm.controls['cardNum'].value)" placeholder="XXXX-XXXX-XXXX-XXXX" (blur)="isValid(userForm.controls['cardNum'].value)" (change)="isValid(userForm.controls['cardNum'].value)" type="text" class="form-control" id="exampleInputCardNumber" name="cardNum" #cardNum>
        <small  class="text-danger" [class.d-none]="isValid(userForm.controls['cardNum'].value) || userForm.controls['cardNum']?.untouched">Please enter a valid card number</small>
      </div>
     

      <div class="form-group mb-3">
        <label for="exampleInputExpiry" class="form-label">Expiry date</label>
        <input type="date" class="form-control" id="exampleInputExpiry">
      </div>

     
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

