<form #userForm="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1">
    </div>
  
    <div class="form-group mb-3">
        <label for="exampleInputAge" class="form-label">Age</label>
        <input type="number" class="form-control" id="exampleInputAge" min="16" required name="age" ngModel>
        <small *ngIf="userForm.controls['age']?.errors?.['min'] && userForm.controls['age']?.touched" class="text-danger">
          Age must be at least 16
      </small>
      <small *ngIf="userForm.controls['age']?.errors?.['required'] && userForm.controls['age']?.touched" class="text-danger">
        Age is a required field
    </small>
      </div>

      <div class="mb-3">
        <label for="exampleInputExpiry" class="form-label">Expiry date</label>
        <input type="date" class="form-control" id="exampleInputExpiry">
      </div>

      <div class="mb-3">
        <label for="exampleInputCardNumber" class="form-label">Card Number</label>
        <input type="number" class="form-control" id="exampleInputCardNumber">
  
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

